@use '../../app/styles/Variebles.scss' as v;

.header{
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  .header__logo{
    color: v.$textCL;
  }
  .header__moon{
    color: v.$textCL;
    font-size: 25px;
    cursor: pointer;
  }
}